<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Title:</label>
                    <input placeholder="Enter your Title"type="text" class="form-control" name="title" [(ngModel)]="title">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Description:</label>
                    <textarea placeholder="Enter your Description"name="description" id="" cols="30" rows="10"class="form-control" [(ngModel)]="description"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Prepared By:</label>
                    <input placeholder="Enter Prepared By"type="text" class="form-control" name="preparedBy" [(ngModel)]="preparedBy">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Category:</label>
                    <select name="category" id="" class="form-control"[(ngModel)]="category">
                        <option value="Vegitratrian">Vegetarian</option>
                        <option value="Non-Vegitratrian">Non-Vegetarian</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Posted Date:</label>
                    <input placeholder="Enter your Posted Date"type="Date" name="postedDate" id=""class="form-control" [(ngModel)]="postedDate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-success" type="button" (click)="readValue()">Submit</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>